.section-header {
  padding: 20px;
  /* max-width: 375px; */
  max-height: 74px;
  margin: 0 auto;
  /* background-color: teal; */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 335px;
  height: 34px;
  margin: 0 auto;
}

.header-logo {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.icon-menu-g-w {
  width: 32px;
  height: 32px;
  stroke: #000;
}